:root {
  /* all h tags and header */
  --main-font: 'Public Sans', sans-serif;

  /* header background */
  --white: #ffffff;

  /* header links*/
  --primary: #232F3E;

  /* buttons, input focus */
  --secondary: #EC9192;

  /* link on product cards */
  --tertiary: #6B6D76;

  /* cart background color*/
  --light: #fafafa;

  /* input border and body text color */
  --dark: #272f32;

  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font) !important;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header {
  background: var(--white);
  font-family: var(--main-font) !important;
}

header a {
  color: var(--primary) !important;
}

button {
  background-color: var(--secondary) !important;
  font-weight: bold;
  color: black !important;
  border: none !important;
}
.button-category {
  width: 119px;
}

.error-text {
  color: rgb(146, 21, 21);
  font-size: 24px;
}
.error {
  color: rgb(146,21,21)
}

.img-container,
img {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-container {
  margin-top: 10px;
  border-style: hidden;
}

.non-wrap {
  flex-wrap: nowrap;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
  margin: 2px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}